useDynLib(SeqBayesDesign, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", evalCpp)
import("stats")
import("MASS")
import("graphics")
import("utils")
export(SBD.next.pt)
export(SBD.plot)
export(SBD.sim)
export(dat.setting)
export(data.read)
export(lifetime.model)
export(par.MLE)
export(std.level)
export(std.stress.fun)